@model MapsAgo.Web.ViewModels.NewEventViewModel

@{
    ViewBag.Title = "CreateFull";
}

<h2>CreateFull</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>NewEventViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EventStartYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventStartYear)
                @Html.ValidationMessageFor(model => model.EventStartYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventStartMonth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventStartMonth)
                @Html.ValidationMessageFor(model => model.EventStartMonth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventStartDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventStartDay)
                @Html.ValidationMessageFor(model => model.EventStartDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventEndYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventEndYear)
                @Html.ValidationMessageFor(model => model.EventEndYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventEndMonth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventEndMonth)
                @Html.ValidationMessageFor(model => model.EventEndMonth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventEndDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventEndDay)
                @Html.ValidationMessageFor(model => model.EventEndDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName)
                @Html.ValidationMessageFor(model => model.EventName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventExcerpt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventExcerpt)
                @Html.ValidationMessageFor(model => model.EventExcerpt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventDescription)
                @Html.ValidationMessageFor(model => model.EventDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventSource, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventSource)
                @Html.ValidationMessageFor(model => model.EventSource)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.LocationName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationName)
                @Html.ValidationMessageFor(model => model.LocationName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude)
                @Html.ValidationMessageFor(model => model.Latitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude)
                @Html.ValidationMessageFor(model => model.Longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationAlias, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationAlias)
                @Html.ValidationMessageFor(model => model.LocationAlias)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventTypeId, "EventTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EventTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.EventTypeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}