@model MapsAgo.Web.ViewModels.NewEventViewModel

@{
    ViewBag.Title = "New Event";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-6 well">
        @Html.Partial("_EventPartials/_CreateForm")
    </div>
    <div class="col-lg-6">
        @Html.Partial("_EventPartials/_SearchBox")
        @Html.Partial("_EventPartials/_SearchResults")
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/addevent")
}