@model PagedList.IPagedList<MapsAgo.Model.Event>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>List of Events</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped">
    <tr>

        <th>
            Event @*Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            Description @*@Html.DisplayNameFor(model => model.Excerpt)*@
        </th>
        <th>
            Location @*@Html.DisplayNameFor(model => model.Location.Name)*@
        </th>
        <th>
            Created@*Html.DisplayNameFor(model => model.DateCreated)*@
        </th>
        <th>
            Modified@*Html.DisplayNameFor(model => model.LastModified)*@
        </th>
        <th>
            Created By
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
            <dl>
                <dt>
                    @Html.DisplayNameFor(m => item.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </dd>
                @*@<dt>
                    @Html.DisplayNameFor(m => item.Source)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Source)
                </dd>*@
                <dt>
                    @Html.DisplayNameFor(m => item.StartDate)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(m => item.EndDate)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </dd>
            </dl>
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.Excerpt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
            @Html.ActionLink(item.User.UserName, "Details", "Users",
                new { id = item.User.Id },
                new { @class = "btn btn-default btn-xs" })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id}, new { @class = "btn btn-xs btn-default" })
            @Html.ActionLink("Details", "Details", new { id = item.Id}, new { @class = "btn btn-xs btn-default" })
            @using MapsAgo.Common
            @if (User.IsInRole(RoleType.Admin.ToString()))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.Id}, new { @class = "btn btn-xs btn-danger" })
            }
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))