@model MapsAgo.Web.ViewModels.UserDetailViewModel

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>
<p>
    @Html.ActionLink("Back to User List", "Index")
</p>

@using (Html.BeginForm("Details", "Users", FormMethod.Post, 
    new { @class = "form-horizontal", role = "form" }))
{
<table class="table">
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.UserName)</strong></td>
        <td><strong>@Html.DisplayNameFor(model => model.Email)</strong></td>
        <td><strong>Roles</strong></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.UserName)</td>
        <td>@Html.DisplayFor(model => model.Email)</td>
        <td>@Html.EditorFor(model => model.UserRoles)</td>
        <td><input type="submit" value="Save" class="btn btn-primary" /></td>
    </tr>
</table>
}

<hr />
<h2>User Events</h2>

<table class="table">
    <tr>
        <th><span class="glyphicon glyphicon-flag"></span></th>
        <th>Name</th>
        <th>Year</th>
        <th>Excerpt</th>
        <th>Modified</th>
        <th></th>
    </tr>
    @if (Model.UserEvents.Count() > 0)
    {
        @Html.DisplayFor(model => model.UserEvents)
    }
    else
    {
        <tr>
            <td>&mdash;</td>
            <td>&mdash;</td>
            <td>&mdash;</td>
            <td>&mdash;</td>
            <td>&mdash;</td>
            <td></td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
